@import "~bootstrap/scss/bootstrap.scss";

*{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

body{
    background-color: rgba($color: #cfcfcfd7, $alpha: 0.4);
}

.escondido>span{
    visibility: hidden;
}

.escondido:hover{
    cursor: pointer;
    span{
        visibility: visible;
    }
}

h1{
    text-align: center;
    font-size: 5em;
    color: rgba($color: #f5afae, $alpha: 0.5)
}

.container{
    width: 35%;
}

.final{
    color:#9b9999d7;
    font-size: 10px;
}




// .escondido:hover>span{
//     visibility: visible;
// }